doctype 5
html
	head
		title= 'spantons'
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#loader_container		
			#bowlG
				#bowl_ringG
					.ball_holderG
						.ballG
		#wrapper
		script(src="javascripts/head.min.js", type="text/javascript")	
		script(src="javascripts/jquery-1.7.2.min.js", type="text/javascript")	
		script	head.js("javascripts/routie.min.js","javascripts/validadores.js","javascripts/jquery.form.js","javascripts/cryptico/sha512.js","javascripts/routingNoLogin.js","javascripts/login_registrar.js")