doctype 5
html
	head
		title= 'spantons'
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#bowlG
			#bowl_ringG
				.ball_holderG
					.ballG
		#wrapper
			block login
		script(src="javascripts/head.min.js", type="text/javascript")	
		script(src="javascripts/jquery-1.7.2.min.js", type="text/javascript")	
		script	head.js("javascripts/routie.min.js","javascripts/validadores.js","javascripts/routingNoLogin.js")