#login_reg_container
	h1(class="insetType")	Spantons
	#registrar_link(align="center")
		a(href="#registrar", style="font-size:25px")	¿Eres nuevo?
		br
		a(href="#registrar", style="font-size:15px") Crea tu cuenta
	#login_container
		form(id="form-login")
			input(id="login_user", name="login_user", autocorrect="off", class="ipt_login border_top_6 Three-Dee", type="text", value="Correo/Email", alt="Debe poner su Correo/Email")
			input(id="login_pass_temp", name="login_pass_temp", class="ipt_login border_bottom_6", type="text", value="Contraseña", alt="Contraseña/clave")
			input(id="login_pass", name="login_pass", class="ipt_login border_bottom_6", type="password", alt="Contraseña/clave")
			table
				tr
					td
						.squaredThree
							input(type="checkbox", value="None", id="squaredThree", name="check")
							label(for="squaredThree")
					td
						h4(class="insetType")	Permanecer conectado
			.button_wrapper(align="center")
				.button_underneath(style="width:162px;height:14px")
					input(id="login_enviar", type="submit", value="Iniciar sesión", class="button", style="width:200px;height:40px;padding-top:6px")
	#footer
		#footer_left
			a(href="#forgot_password", style="font-size:14px")	¿No recuerdas la contraseña?
		#footer_right
			a(href="#terminos_condiciones", style="float:left;font-size:12px")	Términos y condiciones
			.font(style="float:left;font-size:12px")	 | Copyright &copy; 2013 Spantons C.A Todos los derechos reservados.