#login_reg_container
	h1(class="insetType")	Spantons
	.link_right_top_container(align="center")
		a(href="#", style="font-size:20px")	¿Ya tienes cuenta?
		br
		a(href="#", style="font-size:15px") Inicia sesion
	#registrar_container
		form(id="form-registrar")
			div(style="float:left;padding: 5px;")
				.campos_titulos
					font(size="5", class="font_b")	Nombre y Apellido	
				.campos_titulos
					font(size="5", class="font_b campos_titulos")	Correo electronico
				.campos_titulos
					font(size="5", class="font_b campos_titulos")	Cedula
				.campos_titulos
					font(size="5", class="font_b campos_titulos")	Contraseña
				.campos_titulos
					font(size="5", class="font_b campos_titulos")	Repite contraseña
			div(style="float:left")
				input(id="registrar_nombre", name="registrar_nombre", type="text", value="", class="campos border_top_6 campos_top ipt_font")
				br
				input(id="registrar_email", name="registrar_email", type="text", value="", class="campos campos_middle ipt_font")
				br
				input(id="registrar_cedula", name="registrar_cedula", type="text", value="", class="campos campos_middle ipt_font")
				br
				input(id="registrar_pass", name="registrar_pass", type="password", value="", class="campos campos_middle ipt_font")
				br
				input(id="registrar_pass_repeat", name="registrar_pass_repeat", type="password", value="", class="campos border_bottom_6 campos_bottom ipt_font")
			<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
			.button_wrapper(align="center")
				.button_underneath(style="width:162px;height:14px")
					input(id="registrar_enviar", type="submit", value="Crear mi cuenta", class="button", style="width:200px;height:40px;padding-top:6px")
		<br /><br /><br />
		.error