.panel_left.border_left_7(align="center")
	<br /><br />
	.button_wrapper
		.button_underneath.button_underneath_2
			a(href="#new_event", class="button", style="width: 117px") Nueva cita
	.button_wrapper
		.button_underneath.button_underneath_2
			a(href="#", class="button", style="width: 117px") Pacientes
.calendario
	.left_calendario
		.day_big_view
		.day_completa_view
#datepicker
#eventos.border_min
	if (eventos)
		-for (var i=0; i<eventos.length; i++)
			div #{eventos[i]['nombre']}
	else
		.nada_q_hacer
			div No tienes nada que hacer
			div Sugerencias
script
	var	d;
	$('#datepicker').datepicker({
		inline: true,
		firstDay: 1,
		showOtherMonths: false,
		dayNamesMin: ['dom', 'lun', 'mar', 'mié', 'jue', 'vie', 'sáb'],
		dateFormat: 'dd/mm/yy',
		onSelect: sendDate,
	});
	if(window.location.hash){
		hash = window.location.hash.substring(1).substr(7);
		d = new Date(hash); 
	}
	else {
		d = new Date(); 
	}
	$('.day_big_view').html(d.getDate());
	$('.day_completa_view').html(spanishDate(d)+"<br />"+d.getFullYear());