.panel_left.border_left_7(align="center")
	<br /><br />
	.button_wrapper
		.button_underneath.button_underneath_2
			a(href="#new_event", class="button", style="width: 117px") Nueva cita
	.button_wrapper
		.button_underneath.button_underneath_2
			a(href="#", class="button", style="width: 117px") Pacientes
.calendario
	.left_calendario
		.day_big_view
		.day_completa_view
#datepicker
#eventos.border_min #{eventos} bla bla bla bla lorem ipsu es una ladilla y yo no se que mas copiar aqui, recordar investigar sobre proyecto de compiladores, tambien estudiar para Sistemas Operativos, primer parcial de teoria, seguir haciendo proyecto de Inteligencia artificial, goooo

script
	d = new Date();
	$('#datepicker').datepicker({
		inline: true,
		firstDay: 1,
		showOtherMonths: false,
		dayNamesMin: ['dom', 'lun', 'mar', 'mié', 'jue', 'vie', 'sáb'],
		dateFormat: 'dd/mm/yy',
		onSelect: sendDate,
	});
	$('.day_big_view').html(d.getDate());
	$('.day_completa_view').html(spanishDate(d)+"<br />"+d.getFullYear());
	